
:root{
    --blue:#03b6b6;
    --primary-color:#fff;
    --secondary-color:#06c7f7;
    --third-color:#333;
    --four-color:rgba(0, 0, 0, .1);
}

* {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize; 
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear; 
}

*::selection{
    background:var(--secondary-color);
    color: #fff;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem; 
    scroll-behavior: smooth ;
    
}

 /* --- Top Header --- */
 
.top-header {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 16px;
    flex-wrap: wrap; 
    gap: 10px;
    height: 50px;
}

.top-header .contact-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
}

.top-header .contact-info span {
    font-size: 17px;
    font-weight: bold;
}

.top-header .contact-info i {
    margin-right: 5px;
}

.top-header .social-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
}

.top-header .social-icons a {
    color: white;
    font-size: 17px;
}

.top-header .social-icons a:hover {
    color: #000;
}

.top-header .contact-info {
    display: flex;
    gap: 15px;
}
 
/* --- Main Header --- */
header {
position: absolute; 
top: 50px; 
left: 0;
right: 0;
background: #fff;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 20px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* --- Home Section --- */
.home {
width: 100%;
height: calc(100vh - 40px); 
background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), 
            url('img/background.jpg') no-repeat center center/cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: white;
flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00a2ff;
    padding-left: 15px;
}



#close-menu {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none; 
}

.navbar.active #close-menu {
    display: block;
}

.navbar {
    display: flex;
    gap: 20px;
    direction: rtl;
}


.navbar.active {
    left: 0;
}
.navbar a {
    color: #00a2ff;
    font-size: 18px;
}
.navbar a:hover{
    color: #000;
}
.icons {
    display: flex;
    gap: 15px; 
    align-items: center;
    padding-right: 10px;
}

.icons i {
    font-size: 2rem;
    color: #00a2ff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.icons i:hover {
    color: black; 
}

/* أيقونة القائمة */
#menu-bar {
    font-size: 2.5rem;
    color: #00a2ff;
    cursor: pointer;
    display: none; 
}
@media (max-width: 768px) {
    #menu-bar {
        display: block; 
    }

    .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background: #333;
        flex-direction: column;
        padding: 20px;
        transition: 0.3s;
    }

    .navbar.active {
        left: 0;
    }
}


/*-------------------------home--------------*/
.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), 
                url('img/background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

.home-content h3 {
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.home-content p {
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.home-content .btnhome {
    margin-top: 20px;
    background: #00a2ff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btnhome:hover {
    background: #0056b3;
}

/* --- Login Form --- */
.login-form-container, .register-form-container {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active, .register-form-container.active {
    top: 0;
}

.login-form-container form, .register-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width:50rem;
}

.login-form-container form h3, .register-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0 ;

}
.login-form-container form .box, .register-form-container form .box{
    width: 100%;
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    margin:.6rem 0;
    border:.1rem solid rgba(0, 0, 0, .3);
    text-transform: none;
}
.login-form-container form .box:focus , .register-form-container form .box:focus{
    border-color: var(--blue);
}

.login-form-container form #remember , .register-form-container form #remember{
    margin:2rem 0;
}

.login-form-container form label , .register-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btnlogin , .register-form-container form .btnregister{
    display: block;
    width:100% ;
    background: #007bff;
    color: #fff;
    padding: 10px;
}
.login-form-container form .btnlogin:hover , .register-form-container form .btnregister:hover{
    background: rgba(0, 0, 0, .7); 
}

.login-form-container form p, .register-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a , .register-form-container form p a{
    color: var(--blue);
}

.login-form-container form p a:hover , .register-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

#form-close , #register-form-close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#form-close:hover {
    color:#007bff;
}
/* --- Responsive Design --- */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: #007bff;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navbar.active {
        display: flex;
    }

    #menu-bar {
        display: block;
    }

    .top-header {
        flex-direction: column;
        text-align: center;
    }
}



  @media (max-width:991px){

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    #menu-bar{
        display: inline;
    }

    header .navbar{
        position: absolute;
        top: 100%;  right: 0;  left: 0;
        background: #333;
        border-top: 1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background:#222 ;
        
    }

    .login-form-container i{
        color: #fff;
        font-size: 35px;
        position: absolute;
        top: 7%;
        right: 12%;
    }
}





/*----------------------------------------help you----------------*/
.features {
    justify-content: flex-start; 
    gap: 20px;
    margin-top: 20px;
    direction: rtl;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 120px;
}

.feature img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.feature p {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}


.feature-box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon {
    width: 80px; 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-left: 3px solid #ccc; 
    padding-left: 15px; 
}

.icon img {
    max-width: 50px; 
}

.content {
    padding-right: 15px; 
    text-align: right; 
}

.content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content p {
    font-size: 14px;
    color: #666;
}




/*----------------------------------------------about--------------------------*/



.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    direction: rtl;
    text-align: right;
}

.text-content {
    width: 45%;
}

.text-content h2 {
    color: #00a2ff; 
}

.text-content h1 {
    font-size: 31px;
    color: #2c3e50;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-content p {
    color: #666;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
}

.feature:last-child {
    border-bottom: none;
}

.feature i {
    color: #00a2ff;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 50%;
    padding: 2px;
}


.feature b {
    color: #2494d4;
    margin-left: 10px;
}

.images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.images img {
    width: 100%;
    border-radius: 10px;
}

.images img:nth-child(1) {
    width: 50%;
    height: 245px;
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 1;
}

.images img:nth-child(2) {
    width: 40%;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 20px;
}

.images img:nth-child(3) {
    width: 45%;
    position: absolute;
    top: 360px;
    right: 320px;
    z-index: 3;
}

.images img:nth-child(4) {
    width: 100%;
    margin-top: 255px;
    height: 240px;
    margin-right: 10px;
}


/*-------------------------------- services --------------*/
.services-section {
    text-align: center;
    padding: 50px 20px;
    margin-top: 100px;
    width: 100vw;
    background: url('img/back2.jpg') no-repeat center center;
    background-size: cover;  
    color: white; 
}

.services-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #134b9e;
}

.services-subtitle {
    font-size: 18px;
    color: #134b9e;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    gap: 30px;
    justify-content: center; 
    align-items: center; 
}
.service-card {
    width: 350px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #00a2ff;
}
.service-card h3 {
    padding: 15px;
    font-size: 20px;
    color: #134b9e;
}
.service-card p {
    padding: 0 15px 15px;
    color: #555;
    font-size: 14px;
}
.service-icon {
    background:#00a2ff;
    padding: 20px;
    color: white;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.service-icon img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.service-content {
    padding: 20px;
    flex-grow: 1;
}
.service-card h3 {
    font-size: 24px;
    color: #134b9e;
    margin-bottom: 10px;
    padding: 50px 50px 10px 50px;
}
.service-card p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    padding: 0px 50px 50px 50px;
}








/*----------------------------------slider------------*/
.swiper-container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    overflow: hidden;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.5s ease-in-out;
}
.swiper-slide:hover{
    border:1px solid #00a2ff ;
    box-shadow: 0 4px 6px rgba(147, 209, 245, 0.5);

}
.swiper-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.swiper-slide h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}
.swiper-slide p {
    color: #666;
    text-align: center;
    font-size: 14px;
    margin: 20px auto;
}
.swiper-slide .icon {
width: 60px;
height: 60px;
background: #007bff;
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
margin: -25px auto 10px;
font-size: 20px;
text-align: center;
border: 2px solid #fff;
}

.custom-read-more {
    display: block;
    align-items: center;
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.3s ease-in-out;

}
.custom-read-more:hover {
    transform: scale(1.2); 
}
.custom-read-more i {
    margin-left: 5px;
    font-size: 15px; 
    border: 1px solid #007bff;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}

.slider-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.slider-header .icon {
    width: 60px;
    height: 60px;
    background: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin: 10px auto 10px;
    font-size: 24px;
    border: 2px solid #fff;
    padding-right: 12px;
}

.slider-header h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.slider-header p {
    font-size: 16px;
    color: #666;
}







/*------------------------------ doctor -----------*/
.doctor {
    position: relative;
    z-index: 0;
    background: url('img/back3.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.doctor {
    position: relative;
    z-index: 0;
    background: url('img/back3.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.doctor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    z-index: 1; 
}

.doctor * {
    position: relative;
    z-index: 2;
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 20px;
}
.title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    padding-top: 50px;
}
.card {
    width: 250px;
    text-align: center;
    position: relative;
}
.image-container {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-shape {
    position: absolute;
    width: 102%;
    height: 102%;
    background: #00a2ff;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}
.inner-shape {
    width: 100%;
    height: 100%;
    background: white;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.info {
    margin-top: 15px;
}
.info h3 {
    margin: 5px 0;
    font-size: 18px;
}
.info p {
    color: #007bff;
    font-size: 16px;
}

.icon {
    width: 60px;
    height: 60px;
    background: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin: 10px auto 10px;
    font-size: 24px;
    border: 2px solid #fff;
    padding-right: 12px;
}





/*----------------------------- preloader--------------*/
/* شاشة التحميل */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999;
}

.loading-screen img {
    width: 500px; 
    filter: contrast(1.2) saturate(1.5);
    image-rendering: crisp-edges;
}

.loading-screen p {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px; 
    animation: blink 1.5s infinite; 
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}




/*------------------------------ book section ------------*/

.container-book {
    display: flex;
    max-width: 1200px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 80px;
    padding: 20px;
    margin-bottom: 40px;
}
.info {
    width: 50%;
}
.info img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #00a2ff;
    border-radius: 50%;
    margin-left: 30px;
}
.form-container {
    width: 50%;
    background: white;
    color: black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: #2a3f5f; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
.form-header .h3{
    margin: 0;
    font-size: 20px;
}
.phone-icon {
    width: 50px;
    height: 50px;
    background: #00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.phone-icon i {
    font-size: 18px;
}
.form-body {
    width: 100%;
    padding: 40px;
    background: white; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
.form-container .form-group {
    display: flex;
    gap: 10px;
    width: 90%;
}
.form-container input, .form-container select {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #222;
    border-radius: 50px;
}
.form-container button {
    background: #00a2ff;
    border: none;
    padding: 8px 20px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    width: auto;
    margin-top: 10px;
    border: 1px solid #00a2ff;
}

.form-container button:hover{
    background: #fff;
    color: #00a2ff;
    border: 1px solid #00a2ff;
}









/*--------------------------------------- الفوتر----------------------------------------------------*/

footer {
    background-color: #121C27;
    color: white;
    padding: 40px 0 20px; 
  }
  
  .footer-container {
    width: 100%;
    margin: auto;
    direction: rtl;

  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
    width: 100%; 
    padding: 0px 20px 20px 8px;
    height: 80px;
  }
  
  .footer-top img {
    width: 150px;
  }
  
  .social-icons-footer {
    display: flex;
    align-items: center;
  }
  
  
  .social-icons-footer span {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
  }
  .social-icons-footer a {
    margin: 0 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background: #262e3c;
    padding: 10PX;
    border-radius: 50%;
    gap: 2px;
  }
  .social-icons-footer a:hover{
  background: #00a2ff;
  color: #fff;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
  
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    font-size: 14px;
    
  }
  
  .footer-section p{
    padding-bottom: 20px;
    color: #acabab;
  }
  .footer-section .contact i{
    color: #fff;
    background: #00a2ff;
    padding: 10px;
    border-radius: 50%;
  }
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: right;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #00a2ff;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px; 
    border-top: 1px solid #555;
    width: 100%; 
    padding: 10px 10px 0px 20px;
    font-size: 14px;
  }
  
  .footer-bottom SPAN{
  color: #00a2ff;
  }
  .footer-bottom span:hover{
    color: #fff;
  }
  .policy-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .policy-links li {
    margin: 0 10px;
  }
  
  .policy-links li a {
    color: white;
    text-decoration: none;
  }
  
  .policy-links li a:hover {
    color: #00a2ff;
  }
  
  .footer-section.subscribe {
    text-align: left;
    margin-top: 20px;
  }
  
  .subscribe-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    background-color: transparent; 
  }
  
  .subscribe-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent; 
    color: #fff; 
  }
  
  .subscribe-box button {
    background-color: transparent; 
    color: #00a2ff; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    flex-shrink: 0; 
  
  }
  
  .subscribe-box button i {
    font-size: 18px;
  }
  
  .subscribe-box button:hover {
    background-color: transparent; 
    color: #e04e50; 
  }

  .images-grid .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    margin-top: 15px;
}

.images-grid img {
    width: 100%;
    height: 80px; 
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #00a2ff;
}

  /*---------------------------------------------- انتهاء الفوتر---------------------------------------*/
  
  
/*------go to top-------*/

.go-top{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: #06c7f7;
    color: #fff;
    display: grid;
    place-items: center ;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 1px 3px hsla(0, 0%,0%, 0.5);
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    transition:  0.25s ease-in-out;
}


.go-top.active{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.go-top:is(:hover, :focus) {  opacity: 1;}

/*-------------------------  go to top نهاية ال  -------------------------*/


@media (max-width: 1024px) { 
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section {
        width: 90%;
        text-align: center;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .images-grid .grid-container {
        grid-template-columns: repeat(4, 1fr); 
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-left: 20px;
    }
    .footer-section ul li {
        text-align: right;
      }
    .footer-section p{
        padding-bottom: 20px;
        color: #acabab;
        text-align: right;
    }
    .images-grid img {
        width: 100%;
        height: 120px; 
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #00a2ff;
    }
}

@media (max-width: 768px) { 
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .social-icons-footer {
        justify-content: center;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section {
        width: 100%;
        text-align: center;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .policy-links {
        margin-top: 10px;
    }
    .images-grid .grid-container {
        grid-template-columns: repeat(4, 1fr); 
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-left: 20px;
    }
    .images-grid img {
        width: 100%;
        height: 80px; 
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #00a2ff;
    }
    .footer-section ul li {
        text-align: right;
      }
     
      .top-header {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 15px 10px;
    }

    .top-header .contact-info,
    .top-header .social-icons {
        justify-content: center;
        gap: 10px;
    }
     
    .top-header .contact-info span{
        font-size: 14px;
    }
    .top-header .contact-info i {
        margin-right: 5px;
    }
    
    .top-header .social-icons {
        display: flex;
        gap: 15px;
    }
    
    .top-header .social-icons a {
        color: white;
        font-size: 15px;
    }
    .top-header .social-icons a:hover{
        color: #000;
    }  
    .navbar a:hover{
        color: #fff;
    }  
}

